<!-- title: Chicago Mutual Aid Requests -->
<h1>Chicago Mutual Aid Requests</h1>
<p>There are a lot of mutual aid organizations and nonprofits doing important work in the Chicago area,
but I think that it can sometimes be difficult to find information about specific ways you can get
plugged into that work when you don't know where to start.</p>
<p>There are some useful resources
out there for finding mutual aid groups to get involved with, like Block Club Chicago's 
<a href="https://blockclubchicago.org/2023/11/15/give-local-2023-chicago-mutual-aid-groups-and-nonprofits-where-you-can-give-or-receive-help-over-the-holidays/">
Block Club Chicago's 2023 round-up of local mutual aid orgs and nonprofits</a> or 
<a href="https://www.communitykitchenchicago.org/mutual-aid-map">Community Kitchen's mutual aid map</a>. 
Getting involved with a local mutual aid group is great and I encourage you to get connected
with people doing important work in your neighborhood, but I also recognize that
not everyone has the time or resources to contribute on a regular basis 
to a mutual aid group, and it can also take time and effort to find an organization
that needs what you are able to give.</p>
<p>Lots of organizations only post calls to action via one or two platforms 
(often Instagram or an email newsletter), which is totally understandable because this is 
often volunteer labor and it would take a lot of effort to maintain a presence
on all the different social media platforms at once. But, that means that a lot of people
who might be willing and able to help out just never see these requests for support.
In particular, I've seen some people on the fediverse lament that most mutual aid
groups aren't present on non-corporate social media.</p>
<p>This page is an attempt to bridge some of that gap. I follow a lot of organizations
in the Chicago area, and I'm also active on fedi and subscibe to a lot of RSS feeds, 
and so it occurred to me that there was an opportunity here to aggregate some of the requests 
that I see from local mutual aid orgs and make it available in a format that's more
accessible to people who avoid corporate social media.</p>
<p>I'm keeping my focus somewhat narrow
here to prevent this from becoming an overwhelming task: I am specifically using this page/feed
to list public requests from mutual aid organizations and nonprofits in the Chicago
area where there is a concrete thing they are asking for, whether it's for people to show up 
to volunteer, or to give money towards a particular project, or to donate items that
are needed by the community they're serving. I'm hoping that this will provide
an easy on-ramp for people to get involved in supporting their communities.
Disclaimer: This list is not officially affiliated with or endorsed by
any of these organizations, I am just some guy with a website.</p>
<p>There's an <a href="/feed/chicago-mutual-aid-requests-rss.xml">RSS feed</a>, so you can subscribe for updates.
If you know of a request that should be on this list, please submit the info
to <a href="https://cryptpad.fr/form/#/2/form/view/TYlC31JM+ZsMU2s8dN6oCNhTHOGULsafJNjPoVCAqMk/">
this form</a>.</p>
<p>You can click on any of the items below to expand them for more details.</p>
<hr>
{{ content }}
