<!-- title: Tech Stories -->
<h1>Tech Stories</h1>
<p>From time to time, I come across particularly interesting stories relating to tech-- 
things like troubleshooting a gnarly bug, or discovering a wild vulnerability, 
or hacking together a solution for an extremely specific problem. 
It occurred to me that others might also enjoy stories like this, 
so that's what this list is for. There's an 
<a href="/feed/tech-stories-rss.xml">RSS feed</a> 
too, so you can subscribe for updates.</p>
<ul>
{{ content }}
</ul>
